body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #b2c9ff;
}

.embedded-body {
  margin: 0;
}

.nav-frame {
  width: 100%;
  height: 60px;
  border: none;
}

.footer-frame {
  width: 100%;
  height: 80px;
  border: none;
}

.top-nav {
  background: #c5dfff;
  padding: 15px;
  text-align: center;
}

.top-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.site-header {
  background: #d2f1ff;
  padding: 30px;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  background: #d0a3a3;
  line-height: 80px;
  text-align: center;
}

.content {
  max-width: 900px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
}

.site-footer {
  background: #c5dfff;
  color: white;
  text-align: center;
  padding: 20px;
}
.logo img {
  width: 120px;
  height: -500px;
  margin-left: -20px;
}
.picture img {
  width: 370px; 
  height: 400px;
  margin-left: 149px;
  margin-bottom: -20px;
}
.photo img {
  width: 400px;
  height: 400px;
  margin-left: 510px;
  margin-top: -470px;
}
.photo3 img {
  width: 400px;
  height: 400px;
  margin-left: 890px;
  margin-top: -450px;
  margin-bottom: 20px;
}
.bulldog img{
  width: 200px;
  height:200px;
  margin-top: -1100px;
  margin-bottom: 850px;
  margin-left: 140px;
}
.talkbubble img{
  width: 250px;
  height:200px;
  margin-top: -1200px;
  margin-bottom: 870px;
  margin-left: 1000px;
}
.photo4 img{
   width: 360px;
  height: 500px;
  margin-left: 234px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.photo5 img{
  width: 340px;
  height: 490px;
  margin-left: 594px;
  margin-top: -515px;
  margin-bottom: 100px;
}
.photo6 img{
  width: 340px;
  height: 490px;
  margin-left: 930px;
  margin-top: -600px;
  margin-bottom: 120px;
}
.Mindful1 img{
 width: 460px;
  height: 580px;
  margin-left: -10px;
  margin-top: -8px;
  margin-bottom: -100px;
}
.brain img{
  width: 1100px;
  height: 1100px;
  margin-top: -300px;
  margin-left: 230px;

}
.mindful img{
   width: 500px;
  height: 500px;
  margin-top: -900px;
  margin-left: 100px;
  margin-bottom: 380px;
}
.football img{
   width: 500px;
  height: 600px;
  margin-left: 180px;
  margin-top: -500px;
  margin-bottom: -170px;
}
.ball img{
   width: 1100px;
  height: 800px;
  margin-left: -300px;
  margin-top: -200px;

}
.prom img{
   width: 530px;
  height: 620px;
  margin-top: -280px;
  margin-left: -20px;

}
.prom2 img{
   width: 1000px;
  height: 800px;
  margin-top: -200px;
  margin-left: -400px;
}

.prom3 img{
  width: 1000px;
  height: 800px;
  margin-top: -800px;
  margin-left: -100px;
}
.disco img{
  width: 600px;
  height: 500px;
  margin-top: -800px;
  margin-left: 370px;
  margin-bottom: 160px;


}