body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #b2c9ff;
}

.embedded-body {
  margin: 0;
}

.nav-frame {
  width: 100%;
  height: 60px;
  border: none;
}

.footer-frame {
  width: 100%;
  height: 80px;
  border: none;
}

.top-nav {
  background: #c5dfff;
  padding: 15px;
  text-align: center;
}

.top-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.site-header {
  background: #d2f1ff;
  padding: 30px;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  background: #d0a3a3;
  line-height: 80px;
  text-align: center;
}

.content {
  max-width: 900px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
}

.site-footer {
  background: #c5dfff;
  color: white;
  text-align: center;
  padding: 20px;
}
.logo img {
  width: 120px;
  height: -500px;
  margin-left: -20px;

}